@page
@model TranslationsPage.Pages.Menu.AboutUsModel
@{
    ViewData["Title"] = "About us";
}

<h1 class="text-center">About us</h1>

<div class="container">
    <button class="btn btn-primary">

    </button>
</div>

<div class="container">
    <h3>Who are we?</h3>
    <p>
        We are non-profitable organisation with a goal to translate 
        light novels of our choice for you. Please <u>do not</u> share them
        without our permission. 
    </p>
    <p>
        If youhave any questions, want to suggest a light novel or to become part of our staff, 
        please contact us at <i>4241translations@mail.bg</i>
    </p>
</div>
