@page
@model TranslationsBlog.Web.Pages.Delete.InvalidLightNovelModel
@{
    ViewData["Title"] = "Translation Not Found";
}

<h1>Please select a valid title</h1>
<a href='javascript:history.go(-1)' class="btn btn-secondary">Back</a>
