@page
@model TranslationsBlog.Web.Pages.Delete.InvalidTranslatorModel
@{
    ViewData["Title"] = "Invalid Translator";
}

<h1>Please select a valid translator/editor</h1>
<a href='javascript:history.go(-1)' class="btn btn-secondary">Back</a>