@page
@model TranslationsBlog.Web.Pages.Create.CreateLightNovelModel
@{
    ViewData["Title"] = "Create Light Novels";
}

<div class="container">
    <form  method="post">
        <div class="form-group">
            <input hidden asp-for="@Light"/>
        </div> 
    </form>
</div>