@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h2 >An error occurred while processing your request.The support team is notified and we are working on the fix.</h2>

<h4>Please contact us on <i>4241translations@mail.bg</i></h4>