@page
@model TranslationsBlog.Web.Pages.Account.AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied";
}

<h3 class="text-center text-danger m-5">You don't have access to this resourse. If you think this is
    a mistake contact the admin of this website at their <a asp-page="/Menu/AboutUs">Email</a></h3>
