@page
@model TranslationsBlog.Web.Pages.Delete.InvalidOptionDropdownModel
@{
    ViewData["Title"] = "Invalid Option";
}

<h1>Please select a valid option</h1>
<a href='javascript:history.go(-1)' class="btn btn-secondary">Back</a>