@page
@model TranslationsBlog.Web.Pages.NotFound.StaffNotFoundModel
@{
    ViewData["Title"] = "Staff Not Found";
}

<h1>The person you are looking for doesnt exist yet.</h1>
<a asp-page="/Menu/AboutUs" class="btn btn-primary">Click here to see all the translators and editors</a>