@page
@model TranslationsBlog.Web.Pages.TranslationNotFoundModel
@{
    ViewData["Title"] = "Translation Not Found";
}

<h1>The translation you are looking for doesnt exist yet.</h1>
<a asp-page="/Menu/Translations" class="btn btn-primary">Click here to see all the available translations</a>